.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.logo img {
  width: 130px;
  height: 70px;
  object-fit: contain;
  padding-left: 40px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 15px;
  box-sizing: border-box;
  z-index: 1000;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  margin-bottom: 8px;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f3f7;
  border-radius: 8px;
}

/* وقتی روی گزینه کلیک شده */
.menu-item.active {
  color: #555;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.menu-item.active .icon {
  background-color: #d9008f;
  color: white;
 
}